<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#home">Start Bootstrap</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    {{#link-to 'about' tagName='li'}}<a href='#'>About</a>{{/link-to}}
    {{#link-to 'products' tagName='li'}}<a href='#'>Products</a>{{/link-to}}
    <li><a href="#contact">Contact</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    {{#if session.isAuthenticated}}
      <li {{ action 'invalidateSession' }}><a href='#'>Logout</a></li>
    {{else}}
      {{#link-to 'login' tagName='li'}}<a href='#'>Login</a>{{/link-to}}
    {{/if}}
  </ul>
</div>
<!-- /.navbar-collapse -->

