<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    {{partial 'navbar'}}
  </div>
  <!-- /.container -->
</nav>

<div class="container">
  {{outlet}}
</div>
<!-- /.container -->

<div class="container">
  {{partial 'footer'}}
</div>
<!-- /.container -->
